:root {
  --header-color: #24305e;
  --nav-color: #35416d;
  --heading-color-1: #f8e9a1;
  --heading-color-2: #a8d0e6;
  --font-color: #f0f0f0;
  --link-color: #f0f0f0;
  --svg-color: #f8e9a1;
  --primary-bg: #f76c6c;
  --secondary-bg: #374785;
  --modal-bg: rgba(247, 108, 108, 0.7);
  --filter-color: invert(69%) sepia(47%) saturate(2615%) hue-rotate(172deg)
    brightness(102%) contrast(88%);
  --drop-shadow: drop-shadow(1px 2px 14px rgb(180, 179, 179));
}

[data-theme="dark"] {
  --header-color: #000;
  --nav-color: #121212;
  --heading-color-1: #66fcf1;
  --heading-color-2: #66fcf1;
  --font-color: #f0f0f0;
  --link-color: #f0f0f0;
  --svg-color: #45a29e;
  --primary-bg: #000;
  --secondary-bg: #121212;
  --modal-bg: rgba(102, 252, 241, 0.7);
  --light-color: #c5c6c7;
  --filter-color: invert(26%) sepia(25%) saturate(1564%) hue-rotate(191deg)
    brightness(93%) contrast(88%);
  --drop-shadow: drop-shadow(1px 2px 14px rgb(88, 87, 87));
}

[data-theme="green"] {
  --header-color: #2b7a78;
  --nav-color: #3aafa9;
  --heading-color-1: #def2f1;
  --heading-color-2: #17252a;
  --font-color: #17252a;
  --link-color: #feffff;
  --svg-color: #2b7a78;
  --primary-bg: #3aafa9;
  --secondary-bg: #def2f1;
  --modal-bg: rgba(58, 175, 169, 0.7);
  --white-color: #feffff;
  --filter-color: invert(85%) sepia(12%) saturate(7054%) hue-rotate(169deg)
    brightness(104%) contrast(96%);
  --drop-shadow: drop-shadow(1px 2px 14px rgb(180, 179, 179));
}
