@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Secular+One&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
}

body {
  background: var(--bg-color);
  height: 100%;
  width: 100%;
  color: var(--font-color);
}

.App {
  height: 100%;
}

a,
li,
span,
p {
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: "Secular One", sans-serif;
}

button,
label,
input {
  outline: 0;
  border: 0;
}

.layout {
  width: min(85%, 960px);
  margin: 0 auto;
}

.mt-2 {
  margin-top: 2rem;
}

.primary-bg {
  background: var(--primary-bg);
}

.secondary-bg {
  background: var(--secondary-bg);
}

@media (min-width: 760px) {
  .layout {
    padding: 10rem 0;
  }
}
