h1 {
  font-size: 5.6rem;
  text-align: center;
  line-height: 48px;
}

h2 {
  font-size: 3.2rem;
  line-height: 48px;
}

p {
  font-size: 1.6rem;
  line-height: 23px;
}

a {
  font-size: 10px;
  line-height: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

@media (min-width: 400px) {
  a {
    font-size: 12px;
    line-height: 18px;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: clamp(3.6rem, 5vw, 10.5rem);
  }
  a {
    font-size: 14px;
    line-height: 21px;
    text-transform: none;
    font-weight: 400;
  }
}

@media (min-width: 960px) {
  a {
    font-size: 16px;
    line-height: 24px;
    justify-self: flex-end;
  }
  p {
    font-size: 1.7rem;
    line-height: 2.7rem;
    letter-spacing: 0.6px;
  }
  .h2-about {
    margin-bottom: 3rem;
  }
}
