.theme-wrapper {
  position: absolute;
  bottom: -35px;
  right: 0;
}

.color-theme {
  height: 15px;
  width: 15px;
  border-radius: 50px;
  padding: 12px;
  margin: 0 1rem;
  cursor: pointer;
  border: 3px solid white;
}

.light {
  background: #f76c6c;
}

.dark {
  background: #000;
}

.green {
  background: #3aafa9;
}
