.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(151, 141, 141, 0.8);
  display: flex;
}

.modal {
  padding: 5rem;
  background-color: var(--cl-yellow);
  max-width: 48rem;
  /* margin: 20rem auto; */
  margin: auto;
  border-radius: 15px;
  height: auto;
}
