.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* width: 100%; */
  justify-content: center;
  background: var(--cl-green);
}

.project-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
