.card-item {
  background-color: var(--cl-black);
  border-radius: 15px;
  height: 90%;
  width: 90%;
  box-shadow: 0px 7px 34px rgba(111, 181, 238, 0.5);
}

.pills-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.btn {
  padding: 1rem;
  border-radius: 25px;
  margin: 1rem;
  color: var(--cl-black);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
}

.btn-primary {
  background-color: var(--cl-green);
}

.btn-secondary {
  background-color: var(--cl-yellow);
}
