.paragraph {
  font-size: clamp(1.6rem, 10vw, 2.1rem);
  line-height: clamp(2.6rem, 10vw, 3.4rem);
  font-weight: 300;
  letter-spacing: 0.2px;
}

.cl_white {
  color: var(--cl-white);
}

.cl_grey {
  color: #838383;
}

.cl_black {
  color: var(--cl-black);
}
