.title_1 {
  font-size: clamp(2.2rem, 10vw, 6rem);
  text-transform: uppercase;
  font-weight: 300;
  line-height: clamp(3.5rem, 10vw, 9.6rem);
  letter-spacing: 4px;
  padding: 15px 0;
}

.title_2 {
  font-size: clamp(1.8rem, 10vw, 3rem);
  font-weight: 400;
  line-height: clamp(2.9rem, 10vw, 4.8rem);
  letter-spacing: 1px;
  padding: 10px 0;
}

.title_3 {
  /* font-size: clamp(1.6rem, 10vw, 2.4rem); */
  font-weight: 600;
  /* line-height: clamp(2.6rem, 10vw, 3.8rem); */
  letter-spacing: 0.4px;
  padding: 5px 0;
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.cl_white {
  color: var(--cl-white);
}

.cl_black {
  color: var(--cl-black);
}
