.grid-layout {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
}

.grid-layout-2 {
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 1fr;
}

.grid-1,
.grid-2 {
  grid-template-areas:
    "item1"
    "item2";
}

.grid-1a {
  grid-area: item1;
}
.grid-1b {
  grid-area: item2;
}

.grid-2a {
  grid-area: item1;
}
.grid-2b {
  grid-area: item2;
}

.grid-3 {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.grid-4 {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

@media (min-width: 760px) {
  .grid-1 {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "item2 item1 ";
  }
  .grid-2 {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "item1 item2 item2 item2";
  }
  .grid-3 {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-5 {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
