.card {
  height: 100px;
}

.card-wrapper {
  height: 100%;
  position: relative;
}

.tech-card {
  /* height: 50px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tech-img {
  transform: scale(1.7);
  padding: 1rem;
}

@media (min-width: 768px) {
  .card {
    height: 250px;
  }

  .tech-img {
    transform: scale(3);
    padding: 2rem;
  }
}

@media (min-width: 960px) {
  .tech-img {
    transform: scale(5);
    padding: 3rem;
  }
}
