.card {
  border-radius: 15px;
  box-shadow: 2px 4px 1px rgb(111 181 238 / 50%);
  margin: 10px;
  width: 250px;
  cursor: pointer;
}

.relative {
  position: relative;
}

.coming-soon {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.light-text {
  color: #838383;
  font-size: 24px;
  text-transform: uppercase;
}

.card-content {
  padding: 10px 2px;
}

@media screen and (min-width: 760px) {
  .card {
    width: 200px;
  }
}
@media screen and (min-width: 900px) {
  .card {
    width: 190px;
  }
}
