.card {
  border-radius: 15px;
  box-shadow: 1px 3px 14px rgba(67, 217, 152, 0.4);
  margin: 10px;
  width: 250px;
}

.relative {
  position: relative;
}

.coming-soon {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.light-text {
  color: #838383;
  font-size: 24px;
  text-transform: uppercase;
}

.card-content {
  padding: 10px 2px;
}
