.tech-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

@media screen and (min-width: 760px) {
  .icons-container {
    justify-content: flex-start;
  }
}
