.tech-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}
